body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 10;
	background-color: #000000;
}

.bottom-left {
	position: absolute;
	bottom: 0;
	margin: 10px;
	left: 0;
}

.bottom-right {
	position: absolute;
	bottom: 0;
	margin: 10px;
	right: 0;
}

.quoteArea {
	display: inline-block;
	margin-top: 10%;
	padding: auto;
	height: auto;
	width: 75%;
}

#page {
	background-color: #121;
	text-align: center;
}

#quote span {
	font-size: 16px;
}

#author {
	margin-left: 25%;
}

#tweet {
	color: #FFF;
}

#generateQuote {
}
